<template>
  <div>
    <v-container>
      <div class="row">
        <div class="col-md-5 col-sm-5 col-xs-12" >
          <v-carousel >
            <v-carousel-item v-for="(pick, i) in items[$route.path].picks" :key="i"
              :src="require(`../assets/img/shop/${pick}`)"
            >
            </v-carousel-item>

          </v-carousel>
        </div>
        <div class="col-md-7 col-sm-7 col-xs-12" >
          <v-breadcrumbs class="pb-0" :items="breadcrums"></v-breadcrumbs>
          <div class="pl-6">
            <p class="display-1 mb-0">{{items[$route.path].title}}</p>
            <v-card-actions class="pa-0">
              <p class="headline font-weight-light pt-3">$0.00 <del style="" class="subtitle-1 font-weight-thin">$50000 Lucas</del></p>
              <v-spacer></v-spacer>
              <v-rating v-model="rating" class="" background-color="warning lighten-3"
                        color="warning" dense></v-rating>
              <span class="body-2	font-weight-thin"> 25 REVIEWS</span>
            </v-card-actions>
            <p class="subtitle-1 font-weight-thin">
              {{items[$route.path].material}}
            </p>
            <p class="title">SIZE</p>
            <p class="subtitle-1 font-weight-thin">
              {{items[$route.path].size}}
            </p>
            <p class="title">ITEMS</p>

            <v-text-field
                outlined
                style="width:100px"
                :value="1"
                dense
            ></v-text-field>
            <v-btn class="primary white--text" outlined tile dense><v-icon>mdi-cart</v-icon> ADD TO CART</v-btn>
            <v-btn class="ml-4" outlined tile v-if="$route.path == '/product1'">ADD TO WISHLIST</v-btn>

          </div>

        </di>
      </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-xs-12 col-md-12">
          <v-tabs>
            <v-tab >Description</v-tab>
            <v-tab >Materials</v-tab>
            <v-tab>REVIEWS</v-tab>
            <v-tab-item>
              <p class="pt-10 subtitle-1 font-weight-thin">
                <ul>
                  <li v-for="(description, i) in items[$route.path].pros" :key="i">{{description}}</li>
                </ul>
              </p>
            </v-tab-item>
            <v-tab-item>
              <p class="pt-10 subtitle-1 font-weight-thin">
                De amor y de mamá
              </p>
            </v-tab-item>
            <v-tab-item>
              <v-list
                three-line="true"
                avatar="true"
              >
                <v-list-item-group v-model="item" color="primary">
                  <v-list-item
                    v-for="(item, i) in items"
                    :key="i"
                    inactive="true"
                  >
                    <v-list-item-avatar>
                      <v-img :src="item.avatar"></v-img>
                    </v-list-item-avatar>
                    <v-list-item-content>
                      <v-list-item-title v-html="item.title">ssssss</v-list-item-title><v-rating v-model="rating" class="" background-color="warning lighten-3"
                                                                                           color="warning" dense></v-rating>
                      <v-list-item-subtitle v-html="item.subtitle"></v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-tab-item>
          </v-tabs>

        </div>
      </div>
    </v-container>
    <v-card  class="accent" >
      <v-container>
        <v-row no-gutters>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4 hidden-sm-only" align="right">
                <v-icon class="display-2">mdi-truck</v-icon>
              </v-col>
              <v-col class="col-12 col-sm-9 pr-4">
                <h3 class="font-weight-light">FREE SHIPPING & RETURN</h3>
                <p class="font-weight-thin">Free Shipping over $300</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row >
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-cash-usd</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h3 class="font-weight-light">MONEY BACK GUARANTEE</h3>
                <p class="font-weight-thin">30 Days Money Back Guarantee</p>
              </v-col>
            </v-row>
          </v-col>
          <v-col class="col-12 col-md-4 col-sm-12">
            <v-row>
              <v-col class="col-12 col-sm-3 pr-4" align="right">
                <v-icon class="display-2">mdi-headset</v-icon>
              </v-col>
              <v-col  class="col-12 col-sm-9 pr-4">
                <h3 class="font-weight-light">020-800-456-747</h3>
                <p class="font-weight-thin">24/7 Available Support</p>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>
<script>
    export default {
        data: () => ({
            rating:4.5,
            breadcrums: [
                {
                    text: 'Home',
                    disabled: false,
                    href: '/',
                },
                {
                    text: 'Shop',
                    disabled: false,
                    href: 'shop',
                },
                {
                    text: 'Zapateros fancy',
                    disabled: true,
                    href: '',
                },
            ],
            item: 5,
            items:
              {
                '/product1':   {
                  title: 'ZAPATERO PARA 27 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 70 cm x Alto 132 cm x Largo 40 cm',
                  pros: [
                    'Capacidad para 27 pares de zapatos.',
                    '3 gavetas.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product1/1.jpg',
                    'product1/2.jpg',
                    'product1/3.jpg',
                    'product1/4.jpg',
                    'product1/5.jpg',
                  ],
                },
                '/product2': {
                  title: 'ZAPATERO PARA 18 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 50 cm x Alto 132 cm x Fondo 40 cm',
                  pros: [
                    'Capacidad para 18 pares de zapatos.',
                    '3 gavetas.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product2/1.jpg',
                    'product2/2.jpg',
                    'product2/3.jpg',
                    'product2/4.jpg',
                    'product2/5.jpg',
                    'product2/6.jpg',
                    'product2/7.jpg',
                    'product2/8.jpg',
                  ],
                },
                '/product3': {
                  title: 'ZAPATERO PARA 8 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 87 cm X Alto 45 cm X Fondo 30 cm Ancho espacio de entrepaño 20 cm',
                  pros: [
                    'Capacidad para 8 pares de zapatos.',
                    '1 gaveta.',
                    '1 cojin.',
                    '1 espacio debajo del cojin.',
                    '1 entrepaño 2 espacios.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product3/1.jpg',
                    'product3/2.jpg',
                    'product3/3.jpg',
                    'product3/4.jpg',
                    'product3/5.jpg',
                  ],
                },
                '/product5': {
                  title: 'ZAPATERO PARA 12 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 99 cm x Alto 68 cm x Largo 40 cm.',
                  pros: [
                    'Capacidad para 12 pares de zapatos.',
                    '2 gavetas.',
                    '1 cojón.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product5/1.jpg',
                    'product5/2.jpg',
                    'product5/3.jpg',
                    'product5/4.jpg',
                    'product5/5.jpg',
                  ],
                },
                '/product6': {
                  title: 'ZAPATERO PARA 6 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 65 cm X Alto 45 cm X Fondo 30 cm.',
                  pros: [
                    'Capacidad para 6 pares de zapatos.',
                    '1 gaveta.',
                    '1 cojin.',
                    '1 espacio debajo del cojin.',
                    '1 entrepaño 2 espacios.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product6/1.jpg',
                    'product6/2.jpg',
                    'product6/3.jpg',
                  ],
                },
                '/product7': {
                  title: 'ZAPATERO PARA 4 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 45 cm X Alto 45 cm X Fondo 30 cm.',
                  pros: [
                    'Capacidad para 4 pares de zapatos.',
                    '1 gaveta.',
                    '1 cojin.',
                    '1 espacio debajo del cojin.',
                    '1 entrepaño 2 espacios.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product7/1.jpg',
                    'product7/2.jpg',
                    'product7/3.jpg',
                    'product7/4.jpg',
                    'product7/5.jpg',
                  ],
                },
                '/product8': {
                  title: 'ZAPATERO YORK PARA 4 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 50 cm X Alto 30 cm X Fondo 40 cm.',
                  pros: [
                    'Capacidad para 4 pares de zapatos.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product8/1.png',
                  ],
                },
               '/product9': {
                  title: 'ZAPATERO PARA 21 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 65  cm X Alto 103 cm X Fondo 40 cm.',
                  pros: [
                    'Capacidad para 18 pares de zapatos.',
                    '3 pares de botas.',
                    '2 gaveta.',
                    'Diseñode repisa con 2 entrepaños para 3 espacios.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product9/1.jpg',
                    'product9/2.jpg',
                    'product9/3.jpg',
                    'product9/4.jpg',
                    'product9/5.jpg',
                  ],
                },
                '/product10': {
                  title: 'ZAPATERO PARA 21 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 67 cm x Alto 129 cm x Fondo 40 cm.',
                  pros: [
                    'Capacidad para 21 pares de zapatos.',
                    '3 pares de botas.',
                    '3 gaveta.',
                    'Diseño de repisa con 2 entrepaños para 3 espacios.',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product10/1.jpg',
                    'product10/2.jpg',
                    'product10/3.jpg',
                  ],
                },
                '/product11': {
                  title: 'ZAPATERO PARA 15 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 60 cm x Alto 100 cm x Largo 30 cm.',
                  pros: [
                    'Capacidad para 15 pares de zapatos.',
                    '2 puertas de abrir con diseño en ella',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product11/1.jpg',
                    'product11/2.jpg',
                    'product11/3.jpg',
                    'product11/4.jpg',
                  ],
                },
                '/product12': {
                  title: 'ZAPATERO ULTRA DELGADO PARA 6 PARES',
                  material: 'Fabricado en Madera Industrial Procesada Laminada Foil',
                  size: 'Ancho 45cm x Alto 115 cm x Fondo 17 cm.',
                  pros: [
                    'Capacidad para 6 pares de zapatos.',
                    '3 gavetas',
                    'Tapa de levantar en Vidrio',
                    'Este zapatero debe ser chazado la pared para mayor seguridad',
                    'Organiza y protege contra el polvo.',
                    '100% funcional para zapato cotidiano.',
                    'El producto se entrega armado en bogota.',
                    'El producto se entrega desarmado con su respectivo manual fuera de Bogota.',
                    'La imagen correspondiente a este producto es digital y ambientada.',
                    'No incluye adornos ni accesorios.',
                    'El color es una aproximación al color real.',
                  ],
                  picks: [
                    'product12/1.jpg',
                    'product12/2.jpg',
                    'product12/3.jpg',
                    'product12/4.jpg',
                  ],
                },
            },
        }),
    }
</script>
